
body{display:flex}
.sidebar{
width:220px;
background:#1c1b3a;
color:white;
height:100vh;
padding:20px
}
.sidebar a{
display:block;
margin:10px 0;
cursor:pointer
}
.content{
flex:1;
padding:30px;
background:#eef1f6
}
